.root{
	-fx-background-color: honeydew;
}
.button{
	-fx-background-color: powderblue;
}
.list-view-darkTheme{
	-fx-control-inner-background: white;
}
.list-view-darkTheme.list-cell{
	-fx-text-fill: black;
}
.light-style {
	-fx-background-color: #FFFFFF; /* Light background color */
    -fx-text-fill: #000000;
}
.dark-style {
	-fx-background-color: #333333; /* Dark background color */
    -fx-text-fill: #FFFFFF; 
}